body, html {
	height: 100%;
	width: 100%;

	margin: 0;
}

#background {
	background: #bbada0;
	z-index: -1;
}

/* Overlap the canvases */
#foreground {
	margin-left: -415px;
	z-index: 10;
}

.game-container {
	position: relative;
	top: 50%;
	transform: translateY(-55%);
	text-align: center;
	overflow: auto;
	margin: auto;
}

.game-board-container {
  display: block;
  margin: auto;
}