body, html {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}

#background {
	z-index: -1;
	width: 100%;
	height: 100%;
}

#foreground {
	z-index: 10;
	width: 100%;
	height: 100%;
}

.score, .moves {
	text-align: center;
}

.game-container {
	position: relative;

	display: grid;
	grid-template-rows: auto auto 500px auto;

	grid-template-areas: 
	"title score moves"
	"message message message"
	"game-board game-board game-board"
	"instruction instruction instruction";

	margin: auto;
	margin-top: 5em;
	width: 500px;
	align-items: center;
}

/*   Grid Area definitions   */

.game-board {
	grid-area: game-board;
}

.score {
	grid-area: score;
}

.moves {
	grid-area: moves;
}

.about-game{
	grid-area: message;
}

.game-title {
	grid-area: title
}

.how-to-play {
	grid-area: instruction;
}
